*{
    margin: 0px;
    padding: 0px;
}
body{
    
   font-family: 'Roboto';
    padding: 0 60px;
}

.myname{
    color: #EC4F90;
    font-size: 60px;
}

.hello{
    font-size: 50px;
    font-weight: 400
}
.topleft h2{
    font-size: 30px;
    font-weight: 400;
}
p{
    font-size: 20px;
    margin-bottom: 30px;
}
.top h2, h1{
    margin-bottom: 10px;
}
.top{
    overflow: hidden;
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.topleft{
    width: 40%;
    float: left;
    margin-top: 100px;
}
.topright{
    width: 40%;
    float: right;
}
img{
    width: 100%;
}
.bio{
    /* height: 800px; */
    overflow: hidden;
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bioLeft{
    width: 40%;
    float: left;
}
.bioRight{
    width: 40%;
    float: right;
    margin-top: 200px;
}
a{
    background: #EC4F90;
    padding: 8px 25px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
}
.bio h1{
    font-size: 50px;
    color: #202428;
    font-weight: 400;
}
.portfolio{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    
}
.portimg{
    width: 30%;
    float: left;
    margin-right: 16px;
    margin-bottom: 20px;
    padding: 10px;
    
}
.first{
    margin-left: 20px;
}
.portfolio h1{
    font-size: 50px;
    color: #202428;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}
.bottom{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    clear: left;
}
.bottom h1{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 50px;
}
.bottomcnt{
    margin-bottom: 
}
.bottomcnt h4{
    font-size: 25px;
}
.bottomcnt p{
   
    font-size: 18px;
}
.bottomcnt p:nth-child(2){
    margin-top: 10px;
    color: gray;
}
.bottomcnt p:nth-child(3){
    margin-top: 10px;
    width: 40%;
    margin: 30px auto;
}
.bottomftr{
    width: 30%;
    margin:50px auto;
    text-align: center;
    padding: 30px 50px;
    border-radius: 8px;
    color: white;
    background-color: #ED4B73;
}
.bottomftr h6{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 8px;
}
.bottomftr h5{
    font-size: 20px;
    font-weight: 300;
}
.footer{
    text-align: center;
    font-size: 15px;
    color: gray;
    margin-top: 200px;
    margin-bottom: 50px;
}
.top, .bio, .portfolio, bottom{
    padding: 80px 40px;
}